@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@font-face {
	font-family:"doodle-font";
	src: url("your-doodle-font.regular.ttf") format("truetype");
}

/* General styles for the whole page */
* {
    margin: 0;
    list-style: none;
    text-decoration: none;
    padding: 0;
    box-sizing: border-box;
	background-image: url('pageTwoVid.mp4');
    background-repeat: no-repeat;
	background-size: 100% 100%;
    background-attachment: fixed;
}

html, body {
	height: 100%;
	font-family: "Dosis";
	background-color: rgba(255, 253, 240, 0);
}

/* Style the video: 100% width and height to cover the entire window */
#myVideo {
	width: 100vw;
	height: 100vh;
	object-fit: cover;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: -1;
}

main{
	margin-top: 2%;
}

.image{
	display: block;
    margin-left: auto;
    margin-right: auto;
}
  
#content-wrapper {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	width: 100%;
	box-sizing: border-box;
}
  
#drawing-area {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0 20px;
}
  
#canvas {
	border: 5px solid rgb(130, 91, 13);
	border-radius: 8px;
	cursor: crosshair;
	margin: 16px;
	touch-action: none;
	box-shadow: 8px 8px 0px rgb(189, 171, 134);
}
  
.push_buttons_one {
	background-color: #af894d00;
	font-size: 20px;
	border: 5px solid #3ed781;
	border-radius: 8px;
	padding: 10px 34px;
	text-align: center;
	cursor: pointer;
	box-shadow: 3px 3px 0px #187b43;
	margin: 10px;
	position: relative;
	left: 4%;
	font-family: "doodle-font";
	transition: all ease-in-out 0.5s;

	&:hover {
		background-color: #3ed781;
		transition: all ease-in-out 0.5s;
		box-shadow: 0px 0px;
	}
}

.push_buttons_two {
	background-color: #af894d00;
	font-size: 20px;
	border: 5px solid rgb(225, 76, 76);
	border-radius: 8px;
	padding: 10px 34px;
	text-align: center;
	cursor: pointer;
	box-shadow: 3px 3px 0px rgb(122, 49, 49);
	margin: 10px;
	position: relative;
	left: 8%;
	font-family: "doodle-font";
	transition: all ease-in-out 0.5s;

	&:hover {
		background-color: rgb(225, 76, 76);
		transition: all ease-in-out 0.5s;
		box-shadow: 0px 0px;
	}
}
  
#objects-list {
	max-width: 55%;
	overflow-x: auto;
	margin: 10px;}
  
table {
	font-size: 1.3rem;
	border: none;
	border-collapse: collapse;
	width: 100%;
}
  
tr, td {
	text-align: center;
	padding: 10px;
}
  
td {
	width: 35%;
}
  
#response-area {
	text-align: center;
	margin-top: 40px;
	margin-bottom: 20px !important;  

	ul {
		list-style-type: none;
	}
}

#result {
    font-size: 1.6rem !important; 
    font-weight: bold;           
    text-decoration: none;      
    list-style-type: none;  
	margin: 10px; 
}

#fun_fact{
	font-size: 1.4rem !important;
	padding-bottom: 50px !important;  
}

#call_to_action {
	font-size: 1.5rem;
	color: #202020;
	position: relative;
	left: 34%;
	text-shadow: 1px 1px black;
}
